.player {
  display: flex;
  border-bottom: 2px solid cadetblue;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-bottom: 7px;
  height: 250px;
}
.player-name {
  color: #000;
  padding-left: 30px;
}
.player p {
  padding-left: 30px;
}
.player-button {
  background-color: rgba(46, 56, 109, 0.699);
  border-radius: 6px;
  border: 1px solid rgba(17, 15, 15, 0.959);
  width: 150px;
  height: 30px;
  margin-left: 30px;
  cursor: pointer;
}
img {
  width: 250px;
  height: 255px;
  padding-bottom: 10px;
}

h5 {
  padding-left: 30px;
}
.card {
  height: 235px;
  margin-bottom: 12px;
}
